/*Utilidades*/
.oculto {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}
.logo {
    max-width: 200px;
    float: left;
    margin-top: -35px;
    margin-left: 100px;
}
.clear { clear: both;}
.titulo {
    font-size: 26px;
}
.img {
    max-width: 220px;
}

h1 {
    color: white;
}
/*Header*/
.header {
    width: 100%;
    min-height: 130px;
    padding: 12px;
}
ul.menu {
    list-style: none;
    float: left;
    margin-top: 15px;
}
ul.menu li { display: inline-block;}
ul.menu li a {
    color: white;
    font-weight: bold;
    margin-left: 132px;
}
ul.menu li a:hover {
    text-decoration: none;
}
    
/*Btns*/
.btn-carros-disponiveis {
    background-color: #337ab7;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    float: right;
}
.btn-carros-disponiveis:hover {
    text-decoration: none;
    color: white;
}

    
/*Backgrounds*/
.background-fixed-1 { 
    background-image: url(imagens/background.png); 
    background-attachment: fixed;
}
.bg-slide {
    padding: 89px;
}
.titulo-bg {
    font-size: 52px;
    font-weight: bold;
}
    
/*Bg colors*/
.bg-black { background-color: black;}
.bg-blue {background-color: #337ab7;}
    
/*Cores*/
.color-white { color: white;}
.color-black { color: black;}
    
/*Paddings*/
.padding-10 { padding: 10px 0px;}
.padding-20 { padding: 20px 0px;}
.padding-30 {padding: 30px 0px;}
.padding-40 { padding: 40px 0px;}
.padding-50 { padding: 50px 0px;}
.padding-60 { padding: 60px 0px;}
.padding-70 { padding: 70px 0px;}
.padding-80 { padding: 80px 0px;}

/*Detalhes da pagina*/
.detalhes-pagina {}
.detalhes {}
.titulo-detalhes {font-size: 30px;text-align: center;padding: 20px;}
.titulo-detalhes a { color: black;}
.cars {
    max-width: 280px;
    margin-left: 5px;
}

/*Cadastro*/
.list {
    background-color: #337ab7;
    margin-left: 100px;
    margin-right: 1347px;
    margin-top: 16px;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
    
.formulario {
    background-color: #337ab7;
    text-align: center;
    border-radius: 10px;
    margin-left: 334px;
    margin-right: 243px;
    margin-top: -273px;
}
.form {
    margin: -20px;
    font-weight: bold;
    text-align: center;
}
.form-check {
    margin-left: 14px;
}
.titulo-cadastro {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.form-group {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
    margin-right: 26px;
    padding: 5px;
    border-radius: 6px;
    margin-top: 25px;
}
.form-row {
    margin-right: 18px;
    margin-left: 4px;
}
p {
    font-weight: bold;
    font-size: 17px;
}